@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@2/distr/fira_code.css);

:root {
    --c-prime: hsl(228,29.4%, 3.3%);
    --c-second: hsl(187, 100%, 95.1%);
    --c-accent: hsl(28, 100%, 86.3%);
    --c-call: hsl(147, 50%, 75%);
    --c-response: hsl(247, 100%, 80%);
    --c-call_shadow: hsl(147, 50%, 45%);
    --c-response_shadow: hsl(247, 100%, 70%);
    --mono: 'Fira Code';
    --mono-fancy: 'Fira Code VF';
    --font-prime: var(--mono);
    --font-size: 22px;
}
@supports (font-variation-settings: normal) {
    :root { --font-prime: var(--mono-fancy);}
}

html , body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--c-prime);
    color: var(--c-second);
    font-family: var(--font-prime);
    font-size: var(--font-size);
    font-weight: 200;
}

p {
  line-height: 1.36em;
}

a.ext {
  color: var(--c-accent);
}

a.ext:hover {
  filter: hue-rotate(-65deg);
}

code {
  font-size: 1em;
  color: var(--c-response);
  text-shadow: 1px 1px 2px var(--c-response_shadow);
}

code.cmd {
  color: var(--c-call);
  text-shadow: 1px 1px 2px var(--c-call_shadow);
}


main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 75px;
}

article {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr;
}

header , footer nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    padding: 0.75rem;
    color: var(--c-accent);
}
@media (max-width: 667px) {
    header {
        flex-flow: column;
    }
}

header * {/*all the children of the header*/
    padding: 0;
    margin: 0;
    font-weight: 200;
    text-decoration: none;
}

header h2 {
  font-size: 2rem;
}

header h1 , header a{
    font-size: 0.85rem;
}

header a, nav a {
    text-decoration: none;
    color: inherit;
}

nav a , nav span {
  display: block;
  font-size: 3rem;
}

section#content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    max-width: 800px;
    margin: auto;
    padding: 1.5rem;
}

a.footnote {
  color: var(--c-accent);
  text-decoration: none;
  padding-left: 0.15rem;
  font-size: 0.85rem;
  text-shadow: 0px -1px 3px var(--c-second);
}

a.footnote:hover {
  filter: hue-rotate(100deg);
}

section.footnotes ol {
    padding: 0
    margin: 0;
}

section.footnotes li {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

section.footnotes div.modal {
    position: relative;
    max-width: 800px;
    margin: auto;
    background: var(--c-second);
    color: var(--c-prime);
    padding: 1rem;
    border-radius: 10px;
    opacity: 0.75;
    box-shadow: var(--c-accent) 0px 2px 30px, inset var(--c-accent) 0px -1px 2px;
}

section.footnotes div.modal code {
  font-weight: 800;
  font-size: 1.3em;
  text-shadow: none;
}

section.footnotes div.modal a.back {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: var(--c-prime);
    padding-right: 0.33rem;
}

.hidden {
    display: none !important;
}

.faded {
    opacity: 0.33;
}

span.invisible {
  display: block;
  width: 3rem; 
}

a.moon {
  color: transparent;
  background-color: var(--c-second);
  background-clip: text;
}

a.quarter.moon {
  text-shadow: 0px 2px 10px var(--c-second);
}

a.half.moon {
  text-shadow: 0px 2px 10px var(--c-second);
}

a.full.moon {
  text-shadow: 0px 2px 15px var(--c-second);
}

a.new {
  color:var(--c-prime);
  background-color: unset;
  background-clip: unset;
  -webkit-text-stroke: 1px var(--c-second);
  text-shadow: 1px 1px 5px var(--c-accent);
}

a.home {
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--c-accent);
  text-align: center;
}

a.moon:hover {
  background-color: var(--c-accent);
}

a.home:hover {
  text-decoration: wavy;
  text-shadow: 1px 1px 5px var(--c-accent);
}

code.terminal {
  display: block; 
  margin-top: 1.25rem;
  font-size: 1.5rem;
}

code.terminal.call {
  color: var(--c-call);
  text-shadow: 1px -1px 2px var(--c-call_shadow);
  margin-bottom: -1.25rem;
  white-space: pre;
}

code.terminal.response {
  color: var(--c-response);
  text-shadow: 1px -1px 2px var(--c-response_shadow);
}

div.modal code.terminal.cmd {
  color: blue;
}

div.spirit {
  border: 1px solid var(--c-response);
  color: var(--c-response);
  padding: 1rem 1.5rem 1rem 1.5rem;
  width: 400px;
  margin: auto;
  box-shadow: 0px 0px 7px var(--c-response_shadow);
}

div.spirit p {
  margin: 0;  
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px var(--c-response_shadow);
}

div.spirit dl {
  margin: 0;
  display: grid;
  grid-template-columns: 4rem 1fr;
  grid-row-gap: 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

div.spirit dd , div.spirit dt {
  margin: 0;
}



div.spirit dt.description {
  display: none;
}

div.spirit dd {
  grid-column: 2 / 5;  
}

div.spirit dd.description {
  font-style: italic;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  grid-column: 1 / 5;
}

div.spirit dt {
  color: var(--c-call);
  text-shadow: 1px 1px 2px var(--c-call_shadow);
}

div#casting-tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#casting-tools button , div#casting-tools em {
  min-width: 200px;
  padding: 0.5em;
  font-size: 1.25rem;
  text-align: center;
  color: var(--c-call);
  background: none;
  border: 1px solid var(--c-call);
  box-shadow: 0px 0px 10px var(--c-call_shadow);
}

button {
  cursor: pointer;
}

figure {
  margin: auto;
}




